html {
  width: 100%;
}
body {
  width: 100%;
  background-color: #333333; /*#5D3822*/
  margin: 0;
}


/*nav bar Section*/

.nav_bar {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.nav_bar_info{
  margin-right: 4px;
}

.nav_bar_text {
    color: white;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav_bar_icon{
  margin-top: 16px;
  display:flex;
  margin-left:auto;
  margin-right:64px;
}

.nav_bar_text_small{
  color: white;
  margin-top: 0px;
  font-size: 16px;
}

.nav_bar_item {
  color: white;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 18px;
}

.nav_bar_item:hover {
  opacity: 80%;
  transform: scale(1.05); /* Grows on hover */
}

.nav_bar_item_first:hover {
  opacity: 80%;
  transform: scale(1.05); /* Grows on hover */
}

.nav_bar_item_first {
  color: white;
  padding-left: 64px;
  padding-right: 32px;
  font-size: 18px;
}

.topnav {
  display: none;
}

.me_image{
  width: 70px;
  height: 60px;
}

@media (max-width: 1023px){
  
  .nav_bar_item_first {
    color: white;
    padding-left: 32px;
    padding-right: 16px;
    font-size: 16px;
  }

  .nav_bar_item {
    color: white;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 16px;
  }
  

    .nav_bar_text {
      color: white;
      font-size: 20px;
      margin-top: 0px;
      margin-bottom: 0px;
  }

  .nav_bar_icon{
    margin-top: 16px;
    display:flex;
    margin-left:auto;
    margin-right:32px;
  }

  .nav_bar_text_small{
    color: white;
    margin-top: 0px;
    margin-left: 2px;
    font-size: 12px;
  }

  .me_image{
    width:55px;
    height:45px;
  }


}

/* Media query for tablets (screen width <= 768px) */
@media (max-width: 768px) {
  .nav_bar{
    display: none;    
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  li{
    list-style: none;
  }

  a{
    color: white;
    text-decoration: none;
    }

  .topnav{
    display: flex;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
  }


  .nav_item{
    margin: 16px 0;
  }

  .nav_link{
    transition: 0.7s ease;
    
  }

  .nav_link:hover{
    opacity: 80%;
    transform: scale(1.05); /* Grows on hover */
  }
 
  .hamburger {
      display: block;

    }
    .hamburger.active .bar:nth-child(2){
      opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);

    }.hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      background-color: white;
      }
    
      .nav_menu {
        position: absolute;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #333333;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        overflow-y:initial;
      }

      .nav_menu.active{
        left: 0;
      }

      .nav_bar_text {
        color: white;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .nav_bar_icon{
      margin-top: 16px;
      display: flex;
      margin-left: 0px;
      margin-right: auto;
      }

      .nav_bar_text_small{
      color: white;
      margin-top: 0px;
      font-size: 12px;
      }
  
}

/* Media query for mobile (screen width <= 480px) */
@media (max-width: 480px) {
  
}

/*nav bar Section End*/


/* Center Section*/

/*top Section*/

.top_section {
  width: 100%;
  height: 85vh;
}

.center_div {
  margin: 10% auto 2.5% auto;
  display: flex;
  width: fit-content; /* Shrink to fit the content */
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.center_text{
  color: white;
  font-size: 48px;
  word-wrap: break-word;
  width: 800px; 
  margin-bottom: 0px;
}

.center_text_small{
  color: white;
  margin-left: 1px;
  margin-top: 16px;
  line-height: 16px;
  font-size: 20px;
}

.gat_img {
  border-radius: 25px;
  margin-left: 0px;
  width:370px;
  height:300px;
}

/* Arrow */

.arrow-container {
  text-align: center;
  margin-bottom: 20px;
}

.arrow {
  display: inline-block;
  font-size: 5rem;
  color: White;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

/* Arrow End*/



@media (max-width: 1280px){

    .center_div {
      margin: 10% auto 2.5% auto;
      display: flex;
      width: fit-content; /* Shrink to fit the content */
      height: fit-content;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 10px 10px 10px;
  }
    .center_text{
      color: white;
      font-size: 48px;
      word-wrap: break-word;
      width: 600px; 
      margin-bottom: 0px;
    }

    .center_text_small{
    color: white;
    margin-left: 1px;
    margin-top: 16px;
    line-height: 16px;
    font-size: 16px;
    }

    .gat_img {
      border-radius: 25px;
      margin-left: 0px;
      width:330px;
      height:270px;
    }

    /* Arrow */

.arrow-container {
  text-align: center;
  margin-bottom: 20px;
}

.arrow {
  display: inline-block;
  font-size: 5rem;
  color: White;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

/* Arrow End*/

}

@media (max-width: 1023px){

  /*top Section*/

    .top_section {
      width: 100%;
      height: 60vh;
    }

    
  .center_div {
    margin: 10% auto 2.5% auto;
    display: flex;
    width: fit-content; /* Shrink to fit the content */
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 10px 10px;
}


  .center_text{
    color: white;
    font-size: 32px;
    word-wrap: break-word;
    width: 400px; 
    margin-bottom: 0px;
  }

  .center_text_small{
  color: white;
  margin-left: 1px;
  margin-top: 16px;
  line-height: 16px;
  font-size: 12px;
  }

  .gat_img {
    border-radius: 25px;
    margin-left: 0px;
    width:260px;
    height:200px;
  }
  
  /* Arrow */

.arrow-container {
  text-align: center;
  margin-bottom: 20px;
}

.arrow {
  display: inline-block;
  font-size: 3rem;
  color: White;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

/* Arrow End*/

}

@media (max-width: 480px) {
 
  .top_section {
    width: 100%;
    height: 45vh;
  }
     
  .center_div {
    margin: 10% auto 2.5% auto;
    display: flex;
    width: fit-content; /* Shrink to fit the content */
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 10px 10px;
}


  .center_text{
    color: white;
    font-size: 20px;
    word-wrap: break-word;
    width: 340px; 
    margin-bottom: 0px;
  }

  .center_text_small{
  color: white;
  margin-left: 1px;
  margin-top: 8px;
  width: 340px;
  line-height: 16px;
  font-size: 13px;
  }

  .gat_img {
    display: none;
  }

  /* Arrow */

.arrow-container {
  text-align: center;
  margin-bottom: 20px;
}

.arrow {
  display: inline-block;
  font-size: 3rem;
  color: White;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

/* Arrow End*/
  
}


/* Center Section End*/


/* Top Section End*/


/* Card Section*/

.card_section {
  position: relative;
  width: 100%;
  height: auto;
  padding: 96px 0px 0px 0px;
}

.card {
  color: white;
  display: flex;
  overflow: hidden; /* Clip animation effect if needed */
  border-radius: 12px; /* Smooth corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  max-width: 1280px; /* Optional: Set a maximum width for the card */
  width: fit-content; /* Shrink to fit the content */
  height: auto;
  padding: 48px 16px;
  margin: auto auto 64px auto; /* Top margin and horizontal centering */
}

.card:hover {
  transform: scale(1.02); /* Grows on hover */
}

/* Make the whole box clickable */
.link-content {
  text-decoration: none; /* Remove underline from link */
}

.card_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 128px;
  height: 434px;
  width: auto;
  margin-bottom:64px;
  vertical-align: middle;
}
.card_paragraph {
    color: white;
    width: 325px;
    font-size: 16px;
    word-wrap: break-word;
    margin-top: 0px;
}
.card_title {
  font-size:32px;
  margin-bottom: 8px;
}
.card_img {
  border-radius: 25px;
  width:654px;
  height:436px;
}

@media (max-width: 1280px){

  
  .card_section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 64px 0px 0px 0px;
  }
  
  .card {
    color: white;
    display: flex;
    overflow: hidden; /* Clip animation effect if needed */
    border-radius: 12px; /* Smooth corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    max-width: 1024px; /* Optional: Set a maximum width for the card */
    width: fit-content; /* Shrink to fit the content */
    height: auto;
    padding: 48px 16px;
    margin: auto auto 64px auto; /* Top margin and horizontal centering */
  }

  .card_paragraph {
    color: white;
    width: 325px;
    font-size: 16px;
    word-wrap: break-word;
    margin-top: 0px;
  }

  .card_title {
    font-size:32px;
    margin-bottom: 8px;
  }

  .card_img {
    border-radius: 25px;
    width: 550px;
    height:400px;
  }
  
  .card_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 64px;
    height: 434px;
    width: auto;
    margin-bottom:64px;
    vertical-align: middle;
  }

}

@media (max-width: 1023px){ 
  .card_section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 32px 0px 0px 0px;
  }
  
  .card {
    color: white;
    display: flex;
    overflow: hidden; /* Clip animation effect if needed */
    border-radius: 12px; /* Smooth corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 1025px; /* Optional: Set a maximum width for the card */
    width: fit-content; /* Shrink to fit the content */
    height: auto;
    padding: 48px 16px;
    margin: auto auto 32px auto; /* Top margin and horizontal centering */
  }
  
  .card:hover {
    transform: scale(1.02); /* Grows on hover */
  }
  
  /* Make the whole box clickable */
  .link-content {
    text-decoration: none; /* Remove underline from link */
  }
  
  .card_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
    height: auto;
    width: 500px;
    margin-top: 16px;
    margin-bottom: 16px;
    vertical-align: middle;
  }
  .card_paragraph {
      color: white;
      width: auto;
      font-size: 12px;
      word-wrap: break-word;
      margin-top: 0px;
  }
  .card_title {
    font-size:24px;
    margin-top: 0;
  }
  .card_img {
    order: -1;
    border-radius: 25px;
    width: 500px;
    height:350px;
  }
  
}

@media (max-width: 480px){

  .card_section {
    position: relative;
    width: 100%;
    height: auto;
    padding: 16px 0px 0px 0px;
  }
  
  .card {
    color: white;
    display: flex;
    overflow: hidden; /* Clip animation effect if needed */
    border-radius: 12px; /* Smooth corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth animation */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 1025px; /* Optional: Set a maximum width for the card */
    width: fit-content; /* Shrink to fit the content */
    height: auto;
    padding: 16px 8px;
    margin: auto auto 32px auto; /* Top margin and horizontal centering */
  }
  
  .card:hover {
    transform: scale(1.02); /* Grows on hover */
  }
  
  /* Make the whole box clickable */
  .link-content {
    text-decoration: none; /* Remove underline from link */
  }
  
  .card_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 0px;
    height: auto;
    width: 270px;
    margin-top: 16px;
    margin-bottom: 16px;
    vertical-align: middle;
  }
  .card_paragraph {
      color: white;
      width: auto;
      font-size: 12px;
      word-wrap: break-word;
      margin-top: 0px;
  }
  .card_title {
    font-size:24px;
    margin-top: 0;
  }
  .card_img {
    order: -1;
    border-radius: 25px;
    width: 270px;
    height: 200px;
  }
}


/* Card Section End*/


/* Bottom bar*/

.bottom_bar {
  background-color: #4a4a4a;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}

.bottom_text {
  font-size: 24px;
  margin-left: 5%; 
  color:white;
}

.bottom_nav_bar_item {
  color: white;
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 0px;
}

.bottom_nav_bar {
  display: flex;
  align-items: right;
  margin-left: auto;
  margin-right: 64px;
}

.bottom_nav_left {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.bottom_nav_right {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.bottom_nav_bar_item:hover {
  opacity: 80%;
  transform: scale(1.05); /* Grows on hover */
}

@media (max-width: 480px){
  
  .bottom_bar {
    background-color: #4a4a4a;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
  }
  
  .bottom_text {
    font-size: 16px;
    margin-left: 5%; 
    color:white;
  }
  
  .bottom_nav_bar_item {
    color: white;
    font-size: 12px;
    margin-top: 8px;
    margin-bottom: 0px;
  }
  
  .bottom_nav_bar {
    display: flex;
    align-items: right;
    margin-left: auto;
    margin-right: 32px;
  }
  
  .bottom_nav_left {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
  }
  
  .bottom_nav_right {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }
  
  .bottom_nav_bar_item:hover {
    opacity: 80%;
    transform: scale(1.05); /* Grows on hover */
  }
  
}

/* Bottom Bar End*/

/* Fonts */


.ibm-plex-sans-thin {
    font-family: "IBM Plex Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .ibm-plex-sans-extralight {
    font-family: "IBM Plex Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .ibm-plex-sans-light {
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-sans-medium {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex-sans-semibold {
    font-family: "IBM Plex Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-sans-bold {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ibm-plex-sans-thin-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .ibm-plex-sans-extralight-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .ibm-plex-sans-light-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ibm-plex-sans-regular-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ibm-plex-sans-medium-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ibm-plex-sans-semibold-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .ibm-plex-sans-bold-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  