
body {
  width: 100%;
  background-color: #333333; /*#5D3822*/
  margin: 0;
}

.tech_tags {
  display: inline-flex;

}
.tags{
  margin-left: 10%;
}

/* nav bar items*/
.nav_bar {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.nav_bar_info{
  margin-right: 4px;
}

.nav_bar_text {
    color: white;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav_bar_icon{
  margin-top: 16px;
  display:flex;
  margin-left:auto;
  margin-right:64px;
}

.nav_bar_text_small{
  color: white;
  margin-top: 0px;
  font-size: 16px;
}

.nav_bar_item {
  color: white;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 18px;
}

.nav_bar_item:hover {
  opacity: 80%;
  transform: scale(1.05); /* Grows on hover */
}

.nav_bar_item_first:hover {
  opacity: 80%;
  transform: scale(1.05); /* Grows on hover */
}

.nav_bar_item_first {
  color: white;
  padding-left: 64px;
  padding-right: 32px;
  font-size: 18px;
}

/* Media query for tablets (screen width <= 768px) */
@media (max-width: 768px) {
  .nav_bar {
    padding: 12px 24px; /* Reduce nav bar padding */
  }
  .nav_bar_item,
  .nav_bar_item_first {
    font-size: 16px; /* Reduce font size for medium screens */
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 32px; /* Adjust horizontal spacing */
    padding-right: 30px; /* Adjust horizontal spacing */
  }
}

/* Media query for mobile (screen width <= 480px) */
@media (max-width: 480px) {
  .nav_bar {
    flex-direction: column; /* Stack nav items vertically */
    padding: 8px 16px; /* Reduce nav bar padding for small screens */
  }
  .nav_bar_item,
  .nav_bar_item_first {
    font-size: 14px; /* Further reduce font size for small screens */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px; /* Reduce padding for smaller screens */
    padding-right: 20px;
  }
}

.link-content {
  display: block; /* Make the entire <a> act as a block element */
  text-decoration: none; /* Remove underline from link */
}
/* nav bar item end*/

/* project top section */

.title_div {
  margin: 64px auto 0 auto; /* Top margin and horizontal centering */
  max-width: 700px;
  align-items: center;
  max-width: 1280px;
  width: 65%;
  height: auto;
  padding: 32px 16px 32px 16px;
}

.project_title{
  color: white;
  font-size: 48px;
  width: 400px;
  margin: 0;
}

.project_description_small{
  color: white;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project_sub_header {
    color: white;
    margin-top: 0px;
    margin-bottom: 0%;
    font-size: 16px;
    opacity: 80%;
}

.project_section_header {
  color: white;
  font-size: 24px;
  width: 400px;
  margin: 0;
  opacity: 80%;
}

/* project top section end */

.card_img {
  border-radius: 25px;
}

.case_study{
    margin: 0 auto 0 auto;
    max-width: 1280px;
    width: 65%;
}

.paragraph{
    line-height:25px;
    font-size: 16px;
    color: white;
    margin-top: 4px;
    margin-bottom: 32px;
}

.github{
  line-height:25px;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.github:hover {
  opacity: 80%;
  transform: scale(1.05); /* Grows on hover */
}


.bottom_bar {
  background-color: #4a4a4a;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
}

.bottom_text {
  font-size:32px;
  margin-left: 5%; 
  color:white;
}


.ibm-plex-sans-thin {
    font-family: "IBM Plex Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .ibm-plex-sans-extralight {
    font-family: "IBM Plex Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .ibm-plex-sans-light {
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-sans-medium {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .ibm-plex-sans-semibold {
    font-family: "IBM Plex Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-sans-bold {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ibm-plex-sans-thin-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .ibm-plex-sans-extralight-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .ibm-plex-sans-light-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .ibm-plex-sans-regular-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .ibm-plex-sans-medium-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .ibm-plex-sans-semibold-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .ibm-plex-sans-bold-italic {
    font-family: "IBM Plex Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  